
h1.text-center {
	background: url('swatch.jpg');
}

.page-header{
	
	border-bottom: none;
	padding-bottom: 5px;
	margin: 10px 0 10px;
}

body {
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin:0;
   padding:0;
   height:100%
}

/*******************NavBar styling*********************************/
div#navbar-primary-collapse{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	font-color: #222222;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;

}

.navbar {
	border-radius: 5px;
}

.navbar-default {
	margin-bottom: 5px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: 15px;
	margin-left: 15px;
	height:100%;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
	margin-top:5px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	margin-top: 5px;
}

.container {
	height:100%;
}
/*******************************************/

/*jumbotron to hold images*/
.jumbotron {
	background-color: #f5f5f5;
	box-shadow: 0 18px 26px -6px #383e55;	
	background-size: cover;
	margin: 0 25px 0 45px;
	height: 100%;

}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/*format images -- NOTE: Height and Width seem to be creating the extra empty frame*/

img {
	border-radius: 25px;
    box-shadow: 0 15px 35px -6px #383e55;
    height:250px;
    width: 250px;
    max-width: 100%;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    padding:1px;
   	border:1px solid #021a40;
    background-color:#ffffff;
    text-align: center;
}
/**************************/
/*Pagination*/
.pagination {
    display: inline-block;

}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #383e55;
    color: white;
}

/*********Footer****************/
.panel-default {
	border: none;
}

.panel-footer {
	  bottom: 0px;
      background-color: yellow;
      position: absolute;
      width: 100%;
      text-align: right; 
      height:20px;
}

#about {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: right;
	padding-bottom: 5px;
}


