/*update color on search tab*/



/*jumbotron to hold gifs*/
.jumbotron {
	background-color: #f5f5f5;
	box-shadow: 0 18px 26px -6px #383e55;;	
	background-size: cover;
	margin: 0 25px 0 45px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/*format images*/

img {
	border-radius: 25px;
    box-shadow: 0 15px 35px -6px #383e55;
    max-width: 100%;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    float: left;
    padding:1px;
   	border:1px solid #021a40;
    background-color:#ffffff;
}

/*Pagination*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #383e55;
    color: white;
}





/*Email Sign-Up*/
    .form-control{
		height: 41px;
		background: #ffffff;
		box-shadow: none !important;
		border: none;
	}
	.form-control:focus{
		background: #e2e2e2;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 390px;
		margin: 30px auto;
	}
	.signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form h2 {
		color: #333;
		font-weight: bold;
        margin-top: 0;
    }
    .signup-form hr {
        margin: 0 -30px 20px;
    }    
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}
    .signup-form .btn{        
        font-size: 16px;
        font-weight: bold;
		background: #383e55;
		border: none;
		min-width: 140px;
    }
	.signup-form .btn:hover, .signup-form .btn:focus{
		background: #2389cd !important;
        outline: none;
	}
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
	.signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color: #3598dc;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
    .signup-form .hint-text {
		padding-bottom: 15px;
		text-align: center;
    }






