h1 {
	color: #ffffff;

	margin-top: 5px;
	padding-top: 15px;
}

h1.text-center {
	background-color: #383e55;
	height:80px;
	margin-bottom: 13px;

}

.page-header{
	border-bottom: none;
	padding-bottom: 5px;
	margin: 5px 10px 5px;
	margin-bottom: -12px;

}

body {
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}



/********Prices*************/
p.anything {
	/*width:250px;*/
	/*text-align:center;*/
}

p.price {
	/*width:150px;*/
	/*text-align:center;*/
}

/*p {
    float: left;  
}

p {
	margin-bottom: -50px;
    margin-left: -180px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 14px;
    font-weight: 800;
    margin-top:250px;
}*/


/*******************NavBar styling*********************************/
div#navbar-primary-collapse{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	font-color: #222222;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;

}

.navbar {
	border-radius: 5px;
}

.navbar-default {
	margin-bottom: 5px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: 15px;
	margin-left: 15px;
	height:100%;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
	margin-top:5px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	margin-top: 5px;
}

.container {
	height:100%;
}


/********format images***********/

img.sweet {
	border-radius: 25px;
    box-shadow: 0 10px 20px -10px #383e55;
    height:auto;
    width: 250px;
    max-width: 100%;
   /* margin-right: 25px;
    margin-top: 20px;*/
    margin-bottom: 20px;
    /*float: left;*/
    padding:18px;
   	border:1px solid #c2c2d6;
    background-color:#ffffff;
    text-align: center;

}

/*img {
	border-radius: 25px;
    box-shadow: 0 10px 20px -10px #383e55;
    height:auto;
    width: 250px;
    max-width: 100%;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    padding:18px;
   	border:1px solid #c2c2d6;
    background-color:#ffffff;
    text-align: center;
}*/
/*************zoom effects*************/
/*img { transition: all .2s ease-in-out; }
img:hover { 
	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}*/

/************Search Button********/
button#submitText {
	color: #383e55;
}
.btn-outline-success {
	border-color:#383e55;
	color: #ffffff
	background-color:#383e55;
}
/******************Login Button***********/
button.btn.btn-light {
	border-color: #383e55;
}

div#navbarSupportedContent {
	padding-left: 35px;
	padding-right: 35px;
}



/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #383e55;
  margin: 0 auto;
  border-radius: 35px;
  overflow: hidden;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

input.login.loginmodal-submit {
	background-color: #c2c2d6;
}
input.login.loginmodal-submit {
	font-size: 18px;
	text-shadow: 2px 2px black;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

}

.loginmodal-submit {
  
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 14px;
  
}

.loginmodal-submit:hover {
  
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 