h1 {
	color: #ffffff;

	margin-top: 5px;
	padding-top: 15px;
}

h1.text-center {
	background-color: #383e55;
	height:80px;

}

.page-header{
	border-bottom: none;
	padding-bottom: 5px;
	margin: 5px 10px 5px;
	margin-bottom: -12px;

}

body {
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin:0;
  	padding:0;
   	height:100%
}

/*div#wrapper {
    background-image: url(../Images/suit.JPG);
    background-repeat: repeat-x;
}*/

/********Prices*************/

p {
    float: left;  
}

p {
	margin-bottom: -50px;
    margin-left: -180px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 14px;
    font-weight: 800;
    margin-top:250px;
}


/*******************NavBar styling*********************************/
div#navbar-primary-collapse{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	font-color: #222222;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;

}

.navbar {
	border-radius: 5px;
}

.navbar-default {
	margin-bottom: 5px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: 15px;
	margin-left: 15px;
	height:100%;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
	margin-top:5px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	margin-top: 5px;
}

.container {
	height:100%;
}
/*******************************************/

/*jumbotron to hold images*/
.jumbotron {
	background-color: #f5f5f5;
	box-shadow: 0 18px 26px -6px #383e55;	
	background-size: cover;
	margin: 0 25px 0 45px;
	height: 100%;

}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/*format images */

img {
	border-radius: 25px;
    box-shadow: 0 15px 35px -6px #383e55;
    height:auto;
    width: 250px;
    max-width: 100%;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    padding:18px;
   	border:1px solid #c2c2d6;
    background-color:#ffffff;
    text-align: center;
}
/*************zoom effects*************/
img { transition: all .2s ease-in-out; }
img:hover { 
	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

/**************************/
/*Pagination*/
.pagination {
    display: inline-block;
    font-size: 15px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #383e55;
    color: white;
}

/*********Footer****************/


#about {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: right;
	padding-bottom: 5px;
	z-index: 5
}